header{
    background-color: rgb(151, 103, 45);
    padding: 3em 4em 3em;
    border: px inset rgb(251, 244, 244);
    font-size: 18px; /*tamaño letra*/
    font-family: "sans-serif", sans-serif; /*fuente*/
    color: rgb(253, 250, 250); /*color texto*/
    text-align: left; /*formulario texto centrado*/
  }

#pageName{
   background-color: rgb(151, 103, 45);
   color: rgb(253, 250, 250); /*color texto*/
   border: 9px solid rgb(253, 250, 250);
   padding: 1em 1em 1em;
   font-size: 18px; /*tamaño letra*/
   font-family: "sans-serif", sans-serif; /*fuente*/
   color: rgb(253, 250, 250); /*color texto*/
   text-align: cen; /*formulario texto centrado*/
}

body {
    /*Estilo del formulario*/
    background: rgb(251, 244, 244); /*color de fondo */
    border: outset 110px, solid, rgb(52, 51, 52); /*borde*/
    font-size: 16px; /*tamaño letra*/
    font-family: "sans-serif", sans-serif; /*fuente*/
    color: rgb(0, 0, 0); /*color texto*/
    text-align: center; /*formulario texto centrado*/
  }

#introduceMaskify{
    display: none;
  }

  /*desaparezca la barra de aumentar o disminur números*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] { -moz-appearance:textfield; }


footer{
   background-color: rgba(75, 75, 75, 0.63);
   padding: 1em 2em 1em;
   border: 0px solid rgb(251, 244, 244);
   font-size: 12px; /*tamaño letra*/
   font-family: "sans-serif", sans-serif; /*fuente*/
   color: rgb(253, 250, 250); /*color texto*/
  text-align: center; /*formulario texto centrado*/
}
